<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN Address1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Address1 {$fielddispclass_Address1}">
				Alamat
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Address1 {$fielddispclass_Address1}">
			{$Address1_value}
			</div>
		</td>
	</tr>
{END Address1_tabfieldblock}
{BEGIN Postcode_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Postcode {$fielddispclass_Postcode}">
				Poskod
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Postcode {$fielddispclass_Postcode}">
			{$Postcode_value}
			</div>
		</td>
	</tr>
{END Postcode_tabfieldblock}
{BEGIN City_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_City {$fielddispclass_City}">
				Bandar
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_City {$fielddispclass_City}">
			{$City_value}
			</div>
		</td>
	</tr>
{END City_tabfieldblock}
{BEGIN StateID_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_StateID {$fielddispclass_StateID}">
				Negeri
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_StateID {$fielddispclass_StateID}">
			{$StateID_value}
			</div>
		</td>
	</tr>
{END StateID_tabfieldblock}
{BEGIN Email_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Email {$fielddispclass_Email}">
				Email
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Email {$fielddispclass_Email}">
			{$Email_value}
			</div>
		</td>
	</tr>
{END Email_tabfieldblock}
{BEGIN HomeTelephone_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_HomeTelephone {$fielddispclass_HomeTelephone}">
				Tel Rumah
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_HomeTelephone {$fielddispclass_HomeTelephone}">
			{$HomeTelephone_value}
			</div>
		</td>
	</tr>
{END HomeTelephone_tabfieldblock}
</table>





{END container_1}

</div>