<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN f1_name_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f1_name {$fielddispclass_f1_name}">
				#1 Nama
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_f1_name {$fielddispclass_f1_name}">
			{$f1_name_value}
			</div>
		</td>
	</tr>
{END f1_name_tabfieldblock}
{BEGIN f1_relation_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f1_relation {$fielddispclass_f1_relation}">
				Hubungan
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_f1_relation {$fielddispclass_f1_relation}">
			{$f1_relation_value}
			</div>
		</td>
	</tr>
{END f1_relation_tabfieldblock}
{BEGIN f1_tel_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f1_tel {$fielddispclass_f1_tel}">
				Tel
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_f1_tel {$fielddispclass_f1_tel}">
			{$f1_tel_value}
			</div>
		</td>
	</tr>
{END f1_tel_tabfieldblock}
{BEGIN f2_name_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f2_name {$fielddispclass_f2_name}">
				#2 Nama
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_f2_name {$fielddispclass_f2_name}">
			{$f2_name_value}
			</div>
		</td>
	</tr>
{END f2_name_tabfieldblock}
{BEGIN f2_relation_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f2_relation {$fielddispclass_f2_relation}">
				Hubungan
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_f2_relation {$fielddispclass_f2_relation}">
			{$f2_relation_value}
			</div>
		</td>
	</tr>
{END f2_relation_tabfieldblock}
{BEGIN f2_tel_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_f2_tel {$fielddispclass_f2_tel}">
				Tel
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_f2_tel {$fielddispclass_f2_tel}">
			{$f2_tel_value}
			</div>
		</td>
	</tr>
{END f2_tel_tabfieldblock}
</table>





{END container_1}

</div>