<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN photo_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_photo {$fielddispclass_photo}">
				Gambar
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_photo {$fielddispclass_photo}">
			{$photo_value}
			</div>
		</td>
	</tr>
{END photo_tabfieldblock}
{BEGIN Name_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Name {$fielddispclass_Name}">
				Nama
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Name {$fielddispclass_Name}">
			{$Name_value}
			</div>
		</td>
	</tr>
{END Name_tabfieldblock}
{BEGIN DOB_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_DOB {$fielddispclass_DOB}">
				Tarikh Lahir
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_DOB {$fielddispclass_DOB}">
			{$DOB_value}
			</div>
		</td>
	</tr>
{END DOB_tabfieldblock}
{BEGIN ICNO_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ICNO {$fielddispclass_ICNO}">
				IC
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_ICNO {$fielddispclass_ICNO}">
			{$ICNO_value}
			</div>
		</td>
	</tr>
{END ICNO_tabfieldblock}
{BEGIN Gender_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Gender {$fielddispclass_Gender}">
				Jantina
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Gender {$fielddispclass_Gender}">
			{$Gender_value}
			</div>
		</td>
	</tr>
{END Gender_tabfieldblock}
{BEGIN race_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_race {$fielddispclass_race}">
				Bangsa
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_race {$fielddispclass_race}">
			{$race_value}
			</div>
		</td>
	</tr>
{END race_tabfieldblock}
</table>





{END container_1}

</div>