<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN Class_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Class {$fielddispclass_Class}">
				Kelas
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Class {$fielddispclass_Class}">
			{$Class_value}
			</div>
		</td>
	</tr>
{END Class_tabfieldblock}
{BEGIN DateJoin_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_DateJoin {$fielddispclass_DateJoin}">
				Tarikh Masuk
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_DateJoin {$fielddispclass_DateJoin}">
			{$DateJoin_value}
			</div>
		</td>
	</tr>
{END DateJoin_tabfieldblock}
{BEGIN MatricNo_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MatricNo {$fielddispclass_MatricNo}">
				No Dikenali
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_MatricNo {$fielddispclass_MatricNo}">
			{$MatricNo_value}
			</div>
		</td>
	</tr>
{END MatricNo_tabfieldblock}
{BEGIN Status_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Status {$fielddispclass_Status}">
				Status
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Status {$fielddispclass_Status}">
			{$Status_value}
			</div>
		</td>
	</tr>
{END Status_tabfieldblock}
</table>





{END container_1}

</div>