<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Aset - Carian maju
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> Semua syarat-syarat</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Mana-mana syarat</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_name {$fielddispclass_name}">
				Nama
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_name {$fielddispclass_name}">
			<input type="checkbox" {$name_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_name {$fielddispclass_name}">
			{$searchtype_name}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_name {$fielddispclass_name}">
			{$name_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_name {$fielddispclass_name}">
			{$name_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END name_fieldblock}
	{BEGIN cat_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_cat {$fielddispclass_cat}">
				Kategori
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_cat {$fielddispclass_cat}">
			<input type="checkbox" {$cat_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_cat {$fielddispclass_cat}">
			{$searchtype_cat}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_cat {$fielddispclass_cat}">
			{$cat_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_cat {$fielddispclass_cat}">
			{$cat_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END cat_fieldblock}
	{BEGIN quantity_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_quantity {$fielddispclass_quantity}">
				Kuantiti
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_quantity {$fielddispclass_quantity}">
			<input type="checkbox" {$quantity_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_quantity {$fielddispclass_quantity}">
			{$searchtype_quantity}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_quantity {$fielddispclass_quantity}">
			{$quantity_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_quantity {$fielddispclass_quantity}">
			{$quantity_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END quantity_fieldblock}
	{BEGIN catatan_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_catatan {$fielddispclass_catatan}">
				Catatan
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_catatan {$fielddispclass_catatan}">
			<input type="checkbox" {$catatan_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_catatan {$fielddispclass_catatan}">
			{$searchtype_catatan}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_catatan {$fielddispclass_catatan}">
			{$catatan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_catatan {$fielddispclass_catatan}">
			{$catatan_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END catatan_fieldblock}
	{BEGIN sstatus_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sstatus {$fielddispclass_sstatus}">
				Status
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sstatus {$fielddispclass_sstatus}">
			<input type="checkbox" {$sstatus_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sstatus {$fielddispclass_sstatus}">
			{$searchtype_sstatus}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sstatus {$fielddispclass_sstatus}">
			{$sstatus_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sstatus {$fielddispclass_sstatus}">
			{$sstatus_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END sstatus_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Cari</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Set semula</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Kembali ke senarai</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
