<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Enroll - Carian maju
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> Semua syarat-syarat</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Mana-mana syarat</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN Name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Name {$fielddispclass_Name}">
				Nama
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Name {$fielddispclass_Name}">
			<input type="checkbox" {$Name_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Name {$fielddispclass_Name}">
			{$searchtype_Name}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Name {$fielddispclass_Name}">
			{$Name_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Name {$fielddispclass_Name}">
			{$Name_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Name_fieldblock}
	{BEGIN ICNO_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ICNO {$fielddispclass_ICNO}">
				IC/Mykad
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ICNO {$fielddispclass_ICNO}">
			<input type="checkbox" {$ICNO_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ICNO {$fielddispclass_ICNO}">
			{$searchtype_ICNO}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ICNO {$fielddispclass_ICNO}">
			{$ICNO_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ICNO {$fielddispclass_ICNO}">
			{$ICNO_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ICNO_fieldblock}
	{BEGIN Date_Apply_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Date_Apply {$fielddispclass_Date_Apply}">
				Tarikh Mohon
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Date_Apply {$fielddispclass_Date_Apply}">
			<input type="checkbox" {$Date_Apply_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Date_Apply {$fielddispclass_Date_Apply}">
			{$searchtype_Date_Apply}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Date_Apply {$fielddispclass_Date_Apply}">
			{$Date_Apply_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Date_Apply {$fielddispclass_Date_Apply}">
			{$Date_Apply_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Date_Apply_fieldblock}
	{BEGIN Gender_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Gender {$fielddispclass_Gender}">
				Jantina
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Gender {$fielddispclass_Gender}">
			<input type="checkbox" {$Gender_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Gender {$fielddispclass_Gender}">
			{$searchtype_Gender}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Gender {$fielddispclass_Gender}">
			{$Gender_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Gender {$fielddispclass_Gender}">
			{$Gender_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Gender_fieldblock}
	{BEGIN Address1_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Address1 {$fielddispclass_Address1}">
				Alamat
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Address1 {$fielddispclass_Address1}">
			<input type="checkbox" {$Address1_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Address1 {$fielddispclass_Address1}">
			{$searchtype_Address1}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Address1 {$fielddispclass_Address1}">
			{$Address1_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Address1 {$fielddispclass_Address1}">
			{$Address1_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Address1_fieldblock}
	{BEGIN HomeTelephone_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_HomeTelephone {$fielddispclass_HomeTelephone}">
				Tel Rumah
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_HomeTelephone {$fielddispclass_HomeTelephone}">
			<input type="checkbox" {$HomeTelephone_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_HomeTelephone {$fielddispclass_HomeTelephone}">
			{$searchtype_HomeTelephone}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_HomeTelephone {$fielddispclass_HomeTelephone}">
			{$HomeTelephone_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_HomeTelephone {$fielddispclass_HomeTelephone}">
			{$HomeTelephone_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END HomeTelephone_fieldblock}
	{BEGIN MobileTelephone_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MobileTelephone {$fielddispclass_MobileTelephone}">
				Tel HP
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_MobileTelephone {$fielddispclass_MobileTelephone}">
			<input type="checkbox" {$MobileTelephone_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_MobileTelephone {$fielddispclass_MobileTelephone}">
			{$searchtype_MobileTelephone}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_MobileTelephone {$fielddispclass_MobileTelephone}">
			{$MobileTelephone_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_MobileTelephone {$fielddispclass_MobileTelephone}">
			{$MobileTelephone_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END MobileTelephone_fieldblock}
	{BEGIN Status_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Status {$fielddispclass_Status}">
				Status
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Status {$fielddispclass_Status}">
			<input type="checkbox" {$Status_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Status {$fielddispclass_Status}">
			{$searchtype_Status}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Status {$fielddispclass_Status}">
			{$Status_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Status {$fielddispclass_Status}">
			{$Status_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Status_fieldblock}
	{BEGIN Disability_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Disability {$fielddispclass_Disability}">
				Kecacatan
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Disability {$fielddispclass_Disability}">
			<input type="checkbox" {$Disability_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Disability {$fielddispclass_Disability}">
			{$searchtype_Disability}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Disability {$fielddispclass_Disability}">
			{$Disability_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Disability {$fielddispclass_Disability}">
			{$Disability_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Disability_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Cari</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Set semula</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Kembali ke senarai</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
