<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_toplinks}
<table class="runner-c runner-c-toplinks" cellpadding="0" >
<tr class="{$cheaderclass_toplinks}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN security_block}
<td  class="runner-cc runner-bl runner-b-loggedas" {$brickclass_loggedas}><span>{BEGIN loggedas_message} 
<span>Log-masuk sebagai&nbsp;<b>{$username}</b>&nbsp;</span> 
{END loggedas_message}
{BEGIN guestloginbutton}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$guestloginlink_attrs}>Log-masuk</a>
</span>
{END guestloginbutton}
{BEGIN logoutbutton}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$logoutlink_attrs}>Log-keluar</a>
</span>
{END logoutbutton}
{BEGIN adminarea_link}
	<span class="runner-btnframe">
	<span class="runner-btnleft"></span>
	<span class="runner-btnright"></span>
	<a href="admin_rights_list.php" class="runner-button" {$adminarealink_attrs}>Admin Area</a>
	</span>
{END adminarea_link}

{BEGIN changepwd_link}
	<span class="runner-btnframe">
	<span class="runner-btnleft"></span>
	<span class="runner-btnright"></span>
	<a href="#" class="runner-button" {$changepwdlink_attrs}>Tukar katalaluan</a>
	</span>
{END changepwd_link}
</span></td>
{END security_block}







<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_toplinks}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_toplinks}



{BEGIN container_hmenu}
<table class="runner-c runner-c-hmenu" cellpadding="0" >
<tr class="{$cheaderclass_hmenu}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN menu_block}
<td  class="runner-cc runner-bl runner-b-hmenu" {$brickclass_hmenu}><span>{$mainmenu horizontal}
</span></td>
{END menu_block}

<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_hmenu}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_hmenu}



{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" >
<tr class="{$cheaderclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td class="runner-cc filler"></td>
{BEGIN details_block}
<td  class="runner-cc runner-br runner-b-details_found" {$brickclass_details_found}><span>	<span {$details_attrs}>
		Perincian dijumpai: <b><span class="runner-details_found_count">{$records_found}</span></b>
	</span>
</span></td>
{END details_block}


{BEGIN pages_block}
<td  class="runner-cc runner-br runner-b-page_of" {$brickclass_page_of}><span>	<span {$pages_attrs}>
		Halaman <b>{$page}</b> dari <b>{$maxpages}</b>
	</span>

</span></td>
{END pages_block}


{BEGIN recordspp_block}
<td  class="runner-cc runner-br runner-b-recsperpage" {$brickclass_recsperpage}><span>	<span id="recordspp_block{$id}" name="recordspp_block{$id}">
			Rekod per halaman:&nbsp;{$recsPerPage}
	</span>	
</span></td>
{END recordspp_block}


</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					


				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_message}
<table class="runner-c runner-c-message" cellpadding="0" >
<tr class="{$cheaderclass_message}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN message_block}
<td  class="runner-cc runner-bc runner-b-message" {$brickclass_message}><span><div class="runner-message">{$message}</div></span></td>
{END message_block}


</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_message}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_message}



{BEGIN container_grid}


{BEGIN grid_block}
						<table class="runner-c runner-c-grid runner-b-grid" cellpadding="0" >
						<thead>
															{BEGIN grid_header}
								<tr class="runner-toprow style1 {$gridHeader_class}" >
									{BEGIN record_header}
									<th class="runner-cl"><img src="images/spacer.gif"></th>
																		{BEGIN listIcons_column}
									<th class="runner-cc" iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

									
																										{BEGIN darjah_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN darjah_fieldheader}
																				<a {$darjah_orderlinkattrs}>
											Darjah
										</a>
									{END darjah_fieldheader}
									</th>
									{END darjah_fieldheadercolumn}

																	{BEGIN opt_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN opt_fieldheader}
																				<a {$opt_orderlinkattrs}>
											UP1
										</a>
									{END opt_fieldheader}
									</th>
									{END opt_fieldheadercolumn}

																	{BEGIN ppt_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN ppt_fieldheader}
																				<a {$ppt_orderlinkattrs}>
											PPT
										</a>
									{END ppt_fieldheader}
									</th>
									{END ppt_fieldheadercolumn}

																	{BEGIN up2_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN up2_fieldheader}
																				<a {$up2_orderlinkattrs}>
											UP2
										</a>
									{END up2_fieldheader}
									</th>
									{END up2_fieldheadercolumn}

																	{BEGIN pat_fieldheadercolumn}
									<th class="runner-cc runner-clast">
									{BEGIN pat_fieldheader}
																				<a {$pat_orderlinkattrs}>
											PAT
										</a>
									{END pat_fieldheader}
									</th>
									{END pat_fieldheadercolumn}


									
									<th class="runner-cr"><img src="images/spacer.gif"></th>
									{BEGIN endrecordheader_block}
									<th class="runner-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

						</thead>
						<tbody>	
															{BEGIN grid_row}
								<tr class="runner-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
									{BEGIN grid_record}
									<td class="runner-cl" {$rowstyle}></td>

																		{BEGIN listIcons_column}
									<td class="runner-cc runner-bc runner-icons" iEditCont="all" {$rowstyle}>
									
									
									
																		</td>	
									{END listIcons_column}	

									

										{BEGIN darjah_fieldcolumn}
	<td class="runner-cc  {$darjah_class}" {$darjah_style}>
		{$darjah_value}
	</td>
{END darjah_fieldcolumn}

	{BEGIN opt_fieldcolumn}
	<td class="runner-cc  {$opt_class}" {$opt_style}>
		{$opt_value}
	</td>
{END opt_fieldcolumn}

	{BEGIN ppt_fieldcolumn}
	<td class="runner-cc  {$ppt_class}" {$ppt_style}>
		{$ppt_value}
	</td>
{END ppt_fieldcolumn}

	{BEGIN up2_fieldcolumn}
	<td class="runner-cc  {$up2_class}" {$up2_style}>
		{$up2_value}
	</td>
{END up2_fieldcolumn}

	{BEGIN pat_fieldcolumn}
	<td class="runner-cc runner-clast {$pat_class}" {$pat_style}>
		{$pat_value}
	</td>
{END pat_fieldcolumn}


																		<td class="runner-cr" {$rowstyle}></td>
									{BEGIN endrecord_block}
									<td class="runner-cs" {$endrecordblock_attrs}>&nbsp;</td>
									{END endrecord_block}
																	
									{END grid_record}

								</tr>
								{END grid_row}
															{BEGIN grid_footer}
																<tr class="runner-bottomrow style1{$gridFooter_class}" >
									{BEGIN record_footer}
									<td class="runner-cl"><img src="images/spacer.gif"></td>
																		{BEGIN listIcons_column}
									<td class="runner-cc"></td>
									{END listIcons_column}	
									
									

									{BEGIN darjah_fieldheadercolumn}
<td class="runner-cc "></td>
{END darjah_fieldheadercolumn}
{BEGIN opt_fieldheadercolumn}
<td class="runner-cc "></td>
{END opt_fieldheadercolumn}
{BEGIN ppt_fieldheadercolumn}
<td class="runner-cc "></td>
{END ppt_fieldheadercolumn}
{BEGIN up2_fieldheadercolumn}
<td class="runner-cc "></td>
{END up2_fieldheadercolumn}
{BEGIN pat_fieldheadercolumn}
<td class="runner-cc runner-clast"></td>
{END pat_fieldheadercolumn}

									<td class="runner-cr"><img src="images/spacer.gif"></td>
									
									
									{BEGIN endrecordfooter_block}
									<td class="runner-cs"></td>
									{END endrecordfooter_block}
									{END record_footer}
								</tr>
								{END grid_footer}

						</tbody>
					</table>
					

{END grid_block}



{END container_grid}



{BEGIN container_pagination}
<table class="runner-c runner-c-pagination" cellpadding="0" >
<tr class="{$cheaderclass_pagination}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN pagination_block}
<td  class="runner-cc runner-bc runner-b-pagination" {$brickclass_pagination}><span>{$pagination}</span></td>
{END pagination_block}


</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_pagination}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_pagination}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
