<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_StudentID}
			<a href="#" id="addSearchControl_StudentID" class="addSearchControl" {$addSearchControl_StudentID_attrs}>Nama Pelajar</a><br>
		{END addSearch_StudentID}
		{BEGIN addSearch_darjah}
			<a href="#" id="addSearchControl_darjah" class="addSearchControl" {$addSearchControl_darjah_attrs}>Darjah</a><br>
		{END addSearch_darjah}
		{BEGIN addSearch_kelas}
			<a href="#" id="addSearchControl_kelas" class="addSearchControl" {$addSearchControl_kelas_attrs}>Kelas</a><br>
		{END addSearch_kelas}
		{BEGIN addSearch_sesi}
			<a href="#" id="addSearchControl_sesi" class="addSearchControl" {$addSearchControl_sesi_attrs}>Sesi</a><br>
		{END addSearch_sesi}
		{BEGIN addSearch_Status}
			<a href="#" id="addSearchControl_Status" class="addSearchControl" {$addSearchControl_Status_attrs}>Status</a><br>
		{END addSearch_Status}
		{BEGIN addSearch_Name1}
			<a href="#" id="addSearchControl_Name1" class="addSearchControl" {$addSearchControl_Name1_attrs}>Nama Bapa</a><br>
		{END addSearch_Name1}
		{BEGIN addSearch_tel1}
			<a href="#" id="addSearchControl_tel1" class="addSearchControl" {$addSearchControl_tel1_attrs}>No Tel Bapa</a><br>
		{END addSearch_tel1}
		{BEGIN addSearch_Name2}
			<a href="#" id="addSearchControl_Name2" class="addSearchControl" {$addSearchControl_Name2_attrs}>Nama Ibu</a><br>
		{END addSearch_Name2}
		{BEGIN addSearch_tel2}
			<a href="#" id="addSearchControl_tel2" class="addSearchControl" {$addSearchControl_tel2_attrs}>No Tel Ibu</a><br>
		{END addSearch_tel2}
	</div>
	
	<div class="controlsBlock">
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow" {$filterRow_attrs}>
			<div class="srchPanelCell">{$delCtrlButt}&nbsp;{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</div>
		</div>
		{END searchCtrlBlock}
	</div>
		
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Cari</a>
		</span>
	</div>
</div>
