<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="StudentID">
	{$StudentID_editcontrol}
	</control>
	<control 
	field="Activity">
	{$Activity_editcontrol}
	</control>
	<control 
	field="Level">
	{$Level_editcontrol}
	</control>
	<control 
	field="Achievement">
	{$Achievement_editcontrol}
	</control>
	<control 
	field="Start_Date">
	{$Start_Date_editcontrol}
	</control>
	<control 
	field="End_Date">
	{$End_Date_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
