<DIV {$pageattrs}>{BEGIN container_1}<TABLE class=runner-c cellPadding=0>{BEGIN sstatus_tabfieldblock}<tr class="runner-row style1"><td class="runner-cc runner-cc1"><div class="fieldlabel_sstatus {$fielddispclass_sstatus}">
				Status
			</div>
		</td>
		<td class="runner-cc alt"><div class="fieldvalue_sstatus {$fielddispclass_sstatus}">{$sstatus_value}
			</div>
		</td>
	</tr>
{END sstatus_tabfieldblock}
{BEGIN StaffNo_tabfieldblock}<TR class="runner-row style1"><TD class="runner-cc runner-cc1"><DIV class="fieldlabel_StaffNo {$fielddispclass_StaffNo}">
				No Staf
			</DIV></TD>
    <TD class="runner-cc alt"><DIV class="fieldvalue_StaffNo {$fielddispclass_StaffNo}">{$StaffNo_value} 
  </DIV></TD></TR>
  {END StaffNo_tabfieldblock}{BEGIN Job_Sesi_tabfieldblock}<tr class="runner-row style1"><td class="runner-cc runner-cc1"><div class="fieldlabel_Job_Sesi {$fielddispclass_Job_Sesi}">
				Sesi
			</div>
		</td>
		<td class="runner-cc alt"><div class="fieldvalue_Job_Sesi {$fielddispclass_Job_Sesi}">{$Job_Sesi_value}
			</div>
		</td>
	</tr>
{END Job_Sesi_tabfieldblock}
{BEGIN Job_Type_tabfieldblock}<TR class="runner-row style1"><TD class="runner-cc runner-cc1"><DIV class="fieldlabel_Job_Type {$fielddispclass_Job_Type}">Jenis 
      Pekerjaan </DIV></TD>
    <TD class="runner-cc alt"><DIV class="fieldvalue_Job_Type {$fielddispclass_Job_Type}">{$Job_Type_value} 
  </DIV></TD></TR>
  {END Job_Type_tabfieldblock}{BEGIN Job_Title_tabfieldblock}<TR class="runner-row style1"><TD class="runner-cc runner-cc1"><DIV class="fieldlabel_Job_Title {$fielddispclass_Job_Title}">
				Nama Pekerjaan
			</DIV></TD>
    <TD class="runner-cc alt"><DIV class="fieldvalue_Job_Title {$fielddispclass_Job_Title}">{$Job_Title_value} 
    </DIV></TD></TR>
  {END Job_Title_tabfieldblock}
{BEGIN Grade_tabfieldblock}<TR class="runner-row style1"><TD class="runner-cc runner-cc1"><DIV class="fieldlabel_Grade {$fielddispclass_Grade}">Gred Pekerjaan 
      </DIV></TD>
    <TD class="runner-cc alt"><DIV class="fieldvalue_Grade {$fielddispclass_Grade}">{$Grade_value} </DIV></TD></TR>
  {END Grade_tabfieldblock}{BEGIN Elaun_tabfieldblock}<TR class="runner-row style1"><TD class="runner-cc runner-cc1"><DIV class="fieldlabel_Elaun {$fielddispclass_Elaun}">
				Elaun ( Untuk Gred KAFA & RAKYAT)
			<BR>JAIS(KN) 
      &amp; JAKIM) </DIV></TD>
    <TD class="runner-cc alt"><DIV class="fieldvalue_Elaun {$fielddispclass_Elaun}">{$Elaun_value} </DIV></TD></TR>
  {END Elaun_tabfieldblock}{BEGIN Join_Date_tabfieldblock}<TR class="runner-row style1"><TD class="runner-cc runner-cc1"><DIV class="fieldlabel_Join_Date {$fielddispclass_Join_Date}">Tarikh 
      Lantikan </DIV></TD>
    <TD class="runner-cc alt"><DIV class="fieldvalue_Join_Date {$fielddispclass_Join_Date}">{$Join_Date_value} 
    </DIV></TD></TR>
  {END Join_Date_tabfieldblock}{BEGIN End_Date_tabfieldblock}<TR class="runner-row style1"><TD class="runner-cc runner-cc1"><DIV class="fieldlabel_End_Date {$fielddispclass_End_Date}">Tarikh 
      Berhenti/Bersara </DIV></TD>
    <TD class="runner-cc alt"><DIV class="fieldvalue_End_Date {$fielddispclass_End_Date}">{$End_Date_value} 
  </DIV></TD></TR>{END End_Date_tabfieldblock}
{BEGIN Gerak_Date_tabfieldblock}<tr class="runner-row style1"><td class="runner-cc runner-cc1"><div class="fieldlabel_Gerak_Date {$fielddispclass_Gerak_Date}">
				Tarikh Pergerakan Gaji
			</div>
		</td>
		<td class="runner-cc alt"><div class="fieldvalue_Gerak_Date {$fielddispclass_Gerak_Date}">{$Gerak_Date_value}
			</div>
		</td>
	</tr>
{END Gerak_Date_tabfieldblock}</TABLE>{END container_1}</DIV>