<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN Mobile_Tel_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Mobile_Tel {$fielddispclass_Mobile_Tel}">
				Tel HP
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Mobile_Tel {$fielddispclass_Mobile_Tel}">
			{$Mobile_Tel_value}
			</div>
		</td>
	</tr>
{END Mobile_Tel_tabfieldblock}
{BEGIN Email_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Email {$fielddispclass_Email}">
				Email
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Email {$fielddispclass_Email}">
			{$Email_value}
			</div>
		</td>
	</tr>
{END Email_tabfieldblock}
</table>





{END container_1}

</div>