<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN Disability_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Disability {$fielddispclass_Disability}">
				{BEGIN Disability_label}Kecacatan{END Disability_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Disability {$fielddispclass_Disability}">
				{$Disability_editcontrol}
			</div>
		</td>
	</tr>
{END Disability_tabfieldblock}
{BEGIN Medical_condition_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Medical_condition {$fielddispclass_Medical_condition}">
				{BEGIN Medical_condition_label}Keadan Kesihatan{END Medical_condition_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Medical_condition {$fielddispclass_Medical_condition}">
				{$Medical_condition_editcontrol}
			</div>
		</td>
	</tr>
{END Medical_condition_tabfieldblock}
{BEGIN blood_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_blood {$fielddispclass_blood}">
				{BEGIN blood_label}Jenis Darah{END blood_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_blood {$fielddispclass_blood}">
				{$blood_editcontrol}
			</div>
		</td>
	</tr>
{END blood_tabfieldblock}
</table>





{END container_1}

</div>