<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN bank1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_bank1 {$fielddispclass_bank1}">
				Nama Bank 1 & No Akaun
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_bank1 {$fielddispclass_bank1}">
			{$bank1_value}
			</div>
		</td>
	</tr>
{END bank1_tabfieldblock}
{BEGIN epf_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_epf {$fielddispclass_epf}">
				KWSP
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_epf {$fielddispclass_epf}">
			{$epf_value}
			</div>
		</td>
	</tr>
{END epf_tabfieldblock}
</table>





{END container_1}

</div>