<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN photo_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_photo {$fielddispclass_photo}">
				{BEGIN photo_label}Gambar{END photo_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_photo {$fielddispclass_photo}">
				{$photo_editcontrol}
			</div>
		</td>
	</tr>
{END photo_tabfieldblock}
{BEGIN Name_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Name {$fielddispclass_Name}">
				{BEGIN Name_label}Nama{END Name_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Name {$fielddispclass_Name}">
				{$Name_editcontrol}
			</div>
		</td>
	</tr>
{END Name_tabfieldblock}
{BEGIN IC_Number_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_IC_Number {$fielddispclass_IC_Number}">
				{BEGIN IC_Number_label}K/P Baru{END IC_Number_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_IC_Number {$fielddispclass_IC_Number}">
				{$IC_Number_editcontrol}
			</div>
		</td>
	</tr>
{END IC_Number_tabfieldblock}
{BEGIN Gender_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Gender {$fielddispclass_Gender}">
				{BEGIN Gender_label}Jantina{END Gender_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Gender {$fielddispclass_Gender}">
				{$Gender_editcontrol}
			</div>
		</td>
	</tr>
{END Gender_tabfieldblock}
{BEGIN Race_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Race {$fielddispclass_Race}">
				{BEGIN Race_label}Bangsa{END Race_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Race {$fielddispclass_Race}">
				{$Race_editcontrol}
			</div>
		</td>
	</tr>
{END Race_tabfieldblock}
{BEGIN married_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_married {$fielddispclass_married}">
				{BEGIN married_label}Status Perkahwinan{END married_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_married {$fielddispclass_married}">
				{$married_editcontrol}
			</div>
		</td>
	</tr>
{END married_tabfieldblock}
{BEGIN kelulusan_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kelulusan {$fielddispclass_kelulusan}">
				{BEGIN kelulusan_label}Kelulusan{END kelulusan_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_kelulusan {$fielddispclass_kelulusan}">
				{$kelulusan_editcontrol}
			</div>
		</td>
	</tr>
{END kelulusan_tabfieldblock}
{BEGIN Mobile_Tel_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Mobile_Tel {$fielddispclass_Mobile_Tel}">
				{BEGIN Mobile_Tel_label}Tel HP{END Mobile_Tel_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Mobile_Tel {$fielddispclass_Mobile_Tel}">
				{$Mobile_Tel_editcontrol}
			</div>
		</td>
	</tr>
{END Mobile_Tel_tabfieldblock}
{BEGIN Email_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Email {$fielddispclass_Email}">
				{BEGIN Email_label}Email{END Email_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Email {$fielddispclass_Email}">
				{$Email_editcontrol}
			</div>
		</td>
	</tr>
{END Email_tabfieldblock}
{BEGIN Address_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Address {$fielddispclass_Address}">
				{BEGIN Address_label}Alamat{END Address_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Address {$fielddispclass_Address}">
				{$Address_editcontrol}
			</div>
		</td>
	</tr>
{END Address_tabfieldblock}
</table>





{END container_1}

</div>