<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN photo_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_photo {$fielddispclass_photo}">
				Gambar
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_photo {$fielddispclass_photo}">
			{$photo_value}
			</div>
		</td>
	</tr>
{END photo_tabfieldblock}
{BEGIN Name_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Name {$fielddispclass_Name}">
				Nama
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Name {$fielddispclass_Name}">
			{$Name_value}
			</div>
		</td>
	</tr>
{END Name_tabfieldblock}
{BEGIN IC_Number_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_IC_Number {$fielddispclass_IC_Number}">
				K/P Baru
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_IC_Number {$fielddispclass_IC_Number}">
			{$IC_Number_value}
			</div>
		</td>
	</tr>
{END IC_Number_tabfieldblock}
{BEGIN Gender_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Gender {$fielddispclass_Gender}">
				Jantina
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Gender {$fielddispclass_Gender}">
			{$Gender_value}
			</div>
		</td>
	</tr>
{END Gender_tabfieldblock}
{BEGIN Race_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Race {$fielddispclass_Race}">
				Bangsa
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Race {$fielddispclass_Race}">
			{$Race_value}
			</div>
		</td>
	</tr>
{END Race_tabfieldblock}
{BEGIN married_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_married {$fielddispclass_married}">
				Status Perkahwinan
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_married {$fielddispclass_married}">
			{$married_value}
			</div>
		</td>
	</tr>
{END married_tabfieldblock}
{BEGIN kelulusan_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kelulusan {$fielddispclass_kelulusan}">
				Kelulusan
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_kelulusan {$fielddispclass_kelulusan}">
			{$kelulusan_value}
			</div>
		</td>
	</tr>
{END kelulusan_tabfieldblock}
{BEGIN Mobile_Tel_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Mobile_Tel {$fielddispclass_Mobile_Tel}">
				Tel HP
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Mobile_Tel {$fielddispclass_Mobile_Tel}">
			{$Mobile_Tel_value}
			</div>
		</td>
	</tr>
{END Mobile_Tel_tabfieldblock}
{BEGIN Email_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Email {$fielddispclass_Email}">
				Email
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Email {$fielddispclass_Email}">
			{$Email_value}
			</div>
		</td>
	</tr>
{END Email_tabfieldblock}
{BEGIN Address_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Address {$fielddispclass_Address}">
				Alamat
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_Address {$fielddispclass_Address}">
			{$Address_value}
			</div>
		</td>
	</tr>
{END Address_tabfieldblock}
</table>





{END container_1}

</div>