<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN course_main_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_course_main {$fielddispclass_course_main}">
				Mata Pelajaran Utama
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_course_main {$fielddispclass_course_main}">
			{$course_main_value}
			</div>
		</td>
	</tr>
{END course_main_tabfieldblock}
{BEGIN course_opsyen_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_course_opsyen {$fielddispclass_course_opsyen}">
				Mata Pelajaran Opsyen
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_course_opsyen {$fielddispclass_course_opsyen}">
			{$course_opsyen_value}
			</div>
		</td>
	</tr>
{END course_opsyen_tabfieldblock}
</table>





{END container_1}

</div>