<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="StudentID">
	{$StudentID_editcontrol}
	</control>
	<control 
	field="amonth">
	{$amonth_editcontrol}
	</control>
	<control 
	field="ayear">
	{$ayear_editcontrol}
	</control>
	<control 
	field="1">
	{$1_editcontrol}
	</control>
	<control 
	field="2">
	{$2_editcontrol}
	</control>
	<control 
	field="3">
	{$3_editcontrol}
	</control>
	<control 
	field="4">
	{$4_editcontrol}
	</control>
	<control 
	field="5">
	{$5_editcontrol}
	</control>
	<control 
	field="6">
	{$6_editcontrol}
	</control>
	<control 
	field="7">
	{$7_editcontrol}
	</control>
	<control 
	field="8">
	{$8_editcontrol}
	</control>
	<control 
	field="9">
	{$9_editcontrol}
	</control>
	<control 
	field="10">
	{$10_editcontrol}
	</control>
	<control 
	field="11">
	{$11_editcontrol}
	</control>
	<control 
	field="12">
	{$12_editcontrol}
	</control>
	<control 
	field="13">
	{$13_editcontrol}
	</control>
	<control 
	field="14">
	{$14_editcontrol}
	</control>
	<control 
	field="15">
	{$15_editcontrol}
	</control>
	<control 
	field="16">
	{$16_editcontrol}
	</control>
	<control 
	field="17">
	{$17_editcontrol}
	</control>
	<control 
	field="18">
	{$18_editcontrol}
	</control>
	<control 
	field="19">
	{$19_editcontrol}
	</control>
	<control 
	field="20">
	{$20_editcontrol}
	</control>
	<control 
	field="21">
	{$21_editcontrol}
	</control>
	<control 
	field="22">
	{$22_editcontrol}
	</control>
	<control 
	field="23">
	{$23_editcontrol}
	</control>
	<control 
	field="24">
	{$24_editcontrol}
	</control>
	<control 
	field="25">
	{$25_editcontrol}
	</control>
	<control 
	field="26">
	{$26_editcontrol}
	</control>
	<control 
	field="27">
	{$27_editcontrol}
	</control>
	<control 
	field="28">
	{$28_editcontrol}
	</control>
	<control 
	field="29">
	{$29_editcontrol}
	</control>
	<control 
	field="30">
	{$30_editcontrol}
	</control>
	<control 
	field="31">
	{$31_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
