<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Bil Murid - Carian maju
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> Semua syarat-syarat</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Mana-mana syarat</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN studentID_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_studentID {$fielddispclass_studentID}">
				Nama Pelajar
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_studentID {$fielddispclass_studentID}">
			<input type="checkbox" {$studentID_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_studentID {$fielddispclass_studentID}">
			{$searchtype_studentID}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_studentID {$fielddispclass_studentID}">
			{$studentID_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_studentID {$fielddispclass_studentID}">
			{$studentID_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END studentID_fieldblock}
	{BEGIN MatricNo_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MatricNo {$fielddispclass_MatricNo}">
				No Dikenali
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_MatricNo {$fielddispclass_MatricNo}">
			<input type="checkbox" {$MatricNo_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_MatricNo {$fielddispclass_MatricNo}">
			{$searchtype_MatricNo}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_MatricNo {$fielddispclass_MatricNo}">
			{$MatricNo_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_MatricNo {$fielddispclass_MatricNo}">
			{$MatricNo_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END MatricNo_fieldblock}
	{BEGIN tahun_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_tahun {$fielddispclass_tahun}">
				Darjah
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tahun {$fielddispclass_tahun}">
			<input type="checkbox" {$tahun_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tahun {$fielddispclass_tahun}">
			{$searchtype_tahun}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tahun {$fielddispclass_tahun}">
			{$tahun_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tahun {$fielddispclass_tahun}">
			{$tahun_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tahun_fieldblock}
	{BEGIN Class_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Class {$fielddispclass_Class}">
				Kelas
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Class {$fielddispclass_Class}">
			<input type="checkbox" {$Class_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Class {$fielddispclass_Class}">
			{$searchtype_Class}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Class {$fielddispclass_Class}">
			{$Class_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Class {$fielddispclass_Class}">
			{$Class_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Class_fieldblock}
	{BEGIN itemid_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_itemid {$fielddispclass_itemid}">
				Item
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_itemid {$fielddispclass_itemid}">
			<input type="checkbox" {$itemid_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_itemid {$fielddispclass_itemid}">
			{$searchtype_itemid}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_itemid {$fielddispclass_itemid}">
			{$itemid_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_itemid {$fielddispclass_itemid}">
			{$itemid_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END itemid_fieldblock}
	{BEGIN bill_no_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_bill_no {$fielddispclass_bill_no}">
				No Bil
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_bill_no {$fielddispclass_bill_no}">
			<input type="checkbox" {$bill_no_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_bill_no {$fielddispclass_bill_no}">
			{$searchtype_bill_no}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_bill_no {$fielddispclass_bill_no}">
			{$bill_no_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_bill_no {$fielddispclass_bill_no}">
			{$bill_no_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END bill_no_fieldblock}
	{BEGIN balance_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_balance {$fielddispclass_balance}">
				Baki
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_balance {$fielddispclass_balance}">
			<input type="checkbox" {$balance_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_balance {$fielddispclass_balance}">
			{$searchtype_balance}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_balance {$fielddispclass_balance}">
			{$balance_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_balance {$fielddispclass_balance}">
			{$balance_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END balance_fieldblock}
	{BEGIN sstatus_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_sstatus {$fielddispclass_sstatus}">
				Status
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sstatus {$fielddispclass_sstatus}">
			<input type="checkbox" {$sstatus_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_sstatus {$fielddispclass_sstatus}">
			{$searchtype_sstatus}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sstatus {$fielddispclass_sstatus}">
			{$sstatus_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_sstatus {$fielddispclass_sstatus}">
			{$sstatus_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END sstatus_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Cari</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Set semula</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Kembali ke senarai</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
