<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_studentID}
			<a href="#" id="addSearchControl_studentID" class="addSearchControl" {$addSearchControl_studentID_attrs}>Nama Pelajar</a><br>
		{END addSearch_studentID}
		{BEGIN addSearch_MatricNo}
			<a href="#" id="addSearchControl_MatricNo" class="addSearchControl" {$addSearchControl_MatricNo_attrs}>No Dikenali</a><br>
		{END addSearch_MatricNo}
		{BEGIN addSearch_tahun}
			<a href="#" id="addSearchControl_tahun" class="addSearchControl" {$addSearchControl_tahun_attrs}>Darjah</a><br>
		{END addSearch_tahun}
		{BEGIN addSearch_Class}
			<a href="#" id="addSearchControl_Class" class="addSearchControl" {$addSearchControl_Class_attrs}>Kelas</a><br>
		{END addSearch_Class}
		{BEGIN addSearch_itemid}
			<a href="#" id="addSearchControl_itemid" class="addSearchControl" {$addSearchControl_itemid_attrs}>Item</a><br>
		{END addSearch_itemid}
		{BEGIN addSearch_bill_no}
			<a href="#" id="addSearchControl_bill_no" class="addSearchControl" {$addSearchControl_bill_no_attrs}>No Bil</a><br>
		{END addSearch_bill_no}
		{BEGIN addSearch_balance}
			<a href="#" id="addSearchControl_balance" class="addSearchControl" {$addSearchControl_balance_attrs}>Baki</a><br>
		{END addSearch_balance}
		{BEGIN addSearch_sstatus}
			<a href="#" id="addSearchControl_sstatus" class="addSearchControl" {$addSearchControl_sstatus_attrs}>Status</a><br>
		{END addSearch_sstatus}
	</div>
	
	<div class="controlsBlock">
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow" {$filterRow_attrs}>
			<div class="srchPanelCell">{$delCtrlButt}&nbsp;{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</div>
		</div>
		{END searchCtrlBlock}
	</div>
		
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Cari</a>
		</span>
	</div>
</div>
