<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN Address1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Address1 {$fielddispclass_Address1}">
				{BEGIN Address1_label}Alamat{END Address1_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Address1 {$fielddispclass_Address1}">
				{$Address1_editcontrol}
			</div>
		</td>
	</tr>
{END Address1_tabfieldblock}
{BEGIN Postcode_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Postcode {$fielddispclass_Postcode}">
				{BEGIN Postcode_label}Poskod{END Postcode_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Postcode {$fielddispclass_Postcode}">
				{$Postcode_editcontrol}
			</div>
		</td>
	</tr>
{END Postcode_tabfieldblock}
{BEGIN City_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_City {$fielddispclass_City}">
				{BEGIN City_label}Bandar{END City_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_City {$fielddispclass_City}">
				{$City_editcontrol}
			</div>
		</td>
	</tr>
{END City_tabfieldblock}
{BEGIN StateID_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_StateID {$fielddispclass_StateID}">
				{BEGIN StateID_label}Negeri{END StateID_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_StateID {$fielddispclass_StateID}">
				{$StateID_editcontrol}
			</div>
		</td>
	</tr>
{END StateID_tabfieldblock}
{BEGIN Email_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Email {$fielddispclass_Email}">
				{BEGIN Email_label}Email{END Email_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Email {$fielddispclass_Email}">
				{$Email_editcontrol}
			</div>
		</td>
	</tr>
{END Email_tabfieldblock}
{BEGIN HomeTelephone_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_HomeTelephone {$fielddispclass_HomeTelephone}">
				{BEGIN HomeTelephone_label}Tel Rumah{END HomeTelephone_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_HomeTelephone {$fielddispclass_HomeTelephone}">
				{$HomeTelephone_editcontrol}
			</div>
		</td>
	</tr>
{END HomeTelephone_tabfieldblock}
{BEGIN MobileTelephone_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MobileTelephone {$fielddispclass_MobileTelephone}">
				{BEGIN MobileTelephone_label}Tel HP{END MobileTelephone_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_MobileTelephone {$fielddispclass_MobileTelephone}">
				{$MobileTelephone_editcontrol}
			</div>
		</td>
	</tr>
{END MobileTelephone_tabfieldblock}
</table>





{END container_1}

</div>