<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="StudentID">
	{$StudentID_editcontrol}
	</control>
	<control 
	field="etype">
	{$etype_editcontrol}
	</control>
	<control 
	field="s1">
	{$s1_editcontrol}
	</control>
	<control 
	field="s2">
	{$s2_editcontrol}
	</control>
	<control 
	field="s3">
	{$s3_editcontrol}
	</control>
	<control 
	field="s4">
	{$s4_editcontrol}
	</control>
	<control 
	field="s5">
	{$s5_editcontrol}
	</control>
	<control 
	field="s6">
	{$s6_editcontrol}
	</control>
	<control 
	field="s7">
	{$s7_editcontrol}
	</control>
	<control 
	field="s8">
	{$s8_editcontrol}
	</control>
	<control 
	field="s9">
	{$s9_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
