@charset "utf-8";


body {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	margin-top:0px;
	
}

p{

}

td {
	text-align:center;
	font-size:12px;
}

th {

	font-size:12px;
	text-align:center;

}

h1 {

	font-size:34px;
	color:#C36;
	text-align:center; text-transform:uppercase;
}

.headline { font-size:50px; }

.tableTitle {}

table{
	border-collapse:collapse;

}

.table_grey{
	border-collapse:collapse;
	border-color:#666;
}

.table_grey th{
	font-size:12px;
}


.table_top{
	border-collapse:collapse;
	border-top:#000 medium;
	border-left-color:#FFF;
	border-right-color:#FFF;
	border-bottom-color:#FFF;
}

.table2 th td p{
	font-size:14px;	
	color:#09C;
}

.height_divider {
	display:block;
	
	height:100px;
}

.table_cover{

	height:1100px;
	vertical-align:top;	
	width:900px;
	top:0px;


}

.left td{
	text-align:left;
}

.left th{
	text-align:left;
}

.fontsize14{
	font-size:14px;
}

.floatright {
	float:right;
}

.div_all{
	width:900px;
	margin-left:5px;
	margin-right:5px;
	display:block;

}

.div_all p{
		font-size:12px;
		text-align:left;
		font-weight:lighter;
		}
	

.divleft{
	padding:20px;
	width:400px;
	float:left;
	margin-left:10px;
}

.divleft td{
	font-size:14px;
	font-weight:lighter;
}

.divright{
	padding:20px;
	width:400px;
	float:right;
}

.divright td{
	font-size:14px;
	font-weight:lighter;
}

.divcenter{
	padding:20px;
	width:870px;
}

.clear {
	clear:both;
}

.specialtable td,th{ font-size:18px; text-align:left;}

.specialtable td{ }